.DS_Store
        .terraform.lock.hcl
        .terraform/
        configmap.auto.tfvars
        ingress.auto.tfvars
        mytls.crt
        mytls.key
        service.auto.tfvars
        terraform.tfstate
        terraform.tfstate.backup
        terraform.tfvars
        deployment.auto.tfvars
